.menu {
	/* background: #0099CC; */
	background: linear-gradient(to bottom,  #0099CC,  #9A7CD6);
	color: #FFF;
	height: 96px;
	padding-left: 18px;
	/* border-radius: px; */
	/* height: 96px; */
	/* margin-top: -33px; */
	
	
}
/* .botonHome{
    position: relative;
    top:-10px;
    left: -550px;
	list-style: none;
	height: 39px;
	
	
} */

.botonHome {
	width: 100px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color: rgb(230, 226, 226);
	border-radius: 30px;
	color: rgb(19, 19, 19);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
	transition-duration: .5s;
  }
  
  .svgIcon {
	height: 25px;
	transition-duration: 1.5s;
  }
  
  .bell path {
	fill: rgb(19, 19, 19);
  }
  
  .botonHome:hover {
	background-color:  rgb(211, 174, 216);
	transition-duration: .5s;
  }
  
  .botonHome:active {
	transform: scale(0.97);
	transition-duration: .2s;
  }
  
  .botonHome:hover .svgIcon {
	transform: rotate(250deg);
	transition-duration: 1.5s;
  }

/* .botonForm{
	position: relative;
    top:-64px;
    left: -390px;
	list-style: none;
	height: 39px;
} */

.botonForm {
	width: 170px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color: rgb(230, 226, 226);
	border-radius: 30px;
	color: rgb(19, 19, 19);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
	transition-duration: .5s;
	right: -150px;
	top: -50px;
  }
  
  .svgIcono {
	height: 25px;
	transition-duration: 1.5s;
  }
  
  .bell path {
	fill: rgb(19, 19, 19);
  }
  
  .botonForm:hover {
	background-color:  rgb(211, 174, 216);
	transition-duration: .5s;
  }
  
  .botonForm:active {
	transform: scale(0.97);
	transition-duration: .2s;
  }
  
  .botonForm:hover .svgIcono {
	transform: rotate(250deg);
	transition-duration: 1.5s;
  }