.principal {
    position: absolute; /* Posición fija para mantenerla en la parte superior */
    top: 0; /* Posición en la parte superior */
    left: 0;
    width: 100%; /* Que ocupe todo el ancho */
    background-color: #053444;
	z-index: 1;
}

.menu {
	background: linear-gradient(to bottom,  #3c49fd,  #fac28e);
	color: #FFF;
	height: 96px;
	padding-left: 18px;
	 background-image: url("./aviones.jpg");
	background-size: 220px; 
	background-repeat: repeat; 
	transition: background-color 0.3s ease;
	/* background-position:center;  */
	
	/* position: fixed;
	top: 0; */
	/* width: 100%; */
	/* background-color: #ffffff; */
	/* z-index: 1000; Asegura que esté por encima de otros elementos */
	
}
/* .botonHome{
    position: relative;
    top:-10px;
    left: -550px;
	list-style: none;
	height: 39px;
	
	
} */

.botonHome {
	width: 100px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color: rgb(163, 161, 161);
	border-radius: 30px;
	color: rgb(19, 19, 19);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
	transition-duration: .5s;
  }
  
  .svgIcon {
	height: 25px;
	transition-duration: 1.5s;
  }
  
  .bell path {
	fill: rgb(19, 19, 19);
  }
  
  .botonHome:hover {
	background-color:  rgb(211, 174, 216);
	transition-duration: .5s;
  }
  
  .botonHome:active {
	transform: scale(0.97);
	transition-duration: .2s;
  }
  
  .botonHome:hover .svgIcon {
	transform: rotate(250deg);
	transition-duration: 1.5s;
  }

/* .botonForm{
	position: relative;
    top:-64px;
    left: -390px;
	list-style: none;
	height: 39px;
} */

.botonForm {
	width: 170px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color:  rgb(163, 161, 161);
	border-radius: 30px;
	color: rgb(19, 19, 19);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
	transition-duration: .5s;
	right: -150px;
	top: -50px;
  }
  
  .svgIcono {
	height: 25px;
	transition-duration: 1.5s;
  }
  
  .bell path {
	fill: rgb(19, 19, 19);
  }
  
  .botonForm:hover {
	background-color:  rgb(211, 174, 216);
	transition-duration: .5s;
  }
  
  .botonForm:active {
	transform: scale(0.97);
	transition-duration: .2s;
  }
  
  .botonForm:hover .svgIcono {
	transform: rotate(250deg);
	transition-duration: 1.5s;
  }