 .formContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(147, 128, 216);
    padding: 20px;
    margin-left: 550px;
    width: 350px;
    z-index: 1;
    position: absolute;
    margin-top: -250px;
    height: 490px;
    
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
  }
  
 
  .nameInput{
    padding: 1em;
   margin-top: 10px;
  }


  .dificultyInput{
    color:black;
  }
  .durationInput{
    color:black;
  }
  .seasonInput {
    margin-bottom: 1.60em;
    padding: 30px;
    margin-top: -20px;
    color:black;
    margin-left: -40px;

  }
  
  
  .inputUno,
  .inputDos,
  .inputTres,
  .inputCuatro {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    color: black;
  }
  
  
  .primerSpan,
  .segundoSpan,
  .tercerSpan,
  .cuartoSpan {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
  }
  
  
  .crearActBoton {
    margin-top: 65px;
  }
  
  .crear {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .crear:hover {
    background-color: #45a049;
  }
  
  
  .container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .container input {
    margin-right: 10px;
  }
  
  .container label {
    font-size: 16px;
  }
.dificultyInput{
  display: flex;
 
  align-items: center;
  margin-top: -70px;
  margin: 0;
}
.durationInput{
  display: flex;
  
  align-items: center;
  margin: 0;
  
}
.paisesInput{
  display: flex;
 
  margin: 0;
}
.seasonInput{
  display: flex;
  
}


.cbx input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
 
.cbx {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  color: black;
  left: -15px;
  padding: 2.6px;
  top:-30px;
  z-index:1;
}
 

.checkmark {
  position: relative;
  height: 1.3em;
  width: 1.3em;
  background: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0,5);
}
 

.cbx input:checked ~ .checkmark {
  background-image: linear-gradient(#fc9898,#fc9898)
}
 

.checkmark:after {
  
  position: absolute;
}
 

.cbx input:checked .checkmark:after {
  display: block;
}
 

.cbx .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
} 

.p{
  left: 50px;
  font-size: 15px;
  margin-top: 5px;
  position: absolute;
  z-index: 1;
  
} 

