.formContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(147, 128, 216);
    padding: 20px;
    margin-left: 650px; /* Ajusta el margen izquierdo */
    max-width: 600px; /* Ajusta el ancho máximo */
    z-index: 1;
    position: absolute;
    margin-top: -200px;
    height: 460px;
    
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
  }
  
  /* Estilos para cada grupo de input */
  .nameInput,
  .dificultyInput,
  .durationInput,
  .seasonInput {
    margin-bottom: 1px;
    padding: 30px;
    margin-top: -20px;
  }
  
  Estilos para los input
  .inputUno,
  .inputDos,
  .inputTres,
  .inputCuatro {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  /* Estilos para los mensajes de error */
  .primerSpan {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
  }
  
  /* Estilos para el botón de crear */
  .crearActBoton {
    margin-top: 5px;
  }
  
  .crear {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .crear:hover {
    background-color: #45a049;
  }
  
  /* Estilos para los checkboxes y labels */
  .container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .container input {
    margin-right: 10px;
  }
  
  .container label {
    font-size: 16px;
  }
.dificultyInput{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-top: -70px;
  margin: 0;
}
.durationInput{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 0;
  
}
.paisesInput{
  display: flex;
  /* flex-direction: column; */
  margin: 0;
}
.seasonInput{
  display: flex;
  /* flex-direction: column; */
}