
.landing{
  /* background-color: blue; */

    
   
} 
.celular{
  width: 800px;
  height: 510px;
  margin-left: 250px;
  margin-top: 65px;
}
.titulo{
  font-family: 'Lobster', cursive;
  font-size: 60px;
  letter-spacing: 3px;
  word-spacing: 0px;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
 }
 
.boton{
  display: inline-block;
  padding: 10px 20px;
  background-color: #dbdada;
  color: #ffffff;
  border: 2px solid;
  border-radius: 5px;
  transform: rotate(-11deg); /* Aplicamos una rotación de 5 grados */
  cursor: pointer;
  position: absolute;
  margin-top: 307px;
  margin-left: -514px;
  width: 125px;
  height: 41px;
  font-size: 14px;
  align-items: center;
  
} 
.parrafo{
  margin-top: 105px;
  margin-left: 385px;
}


